#betogether-container {
  --bt-button-size: 40px;
  --bt-button-border-width: 4px;
  --bt-button-margin-x: 20px;
  --bt-button-margin-y: 20px;
  --bt-controls-container-height: calc(var(--bt-button-size) + 2 * var(--bt-button-margin-y));
  --bt-margin-bottom: calc(40px - 7px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 40px auto var(--bt-margin-bottom) auto;
  overflow: hidden;
}

#betogether-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
}

#betogether-container.pause-on-mouseover #betogether-slide-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.betogether-slide {
  animation: betogether-in-from-right 0.25s ease-out;
  display: flex;
  left: 0;
  opacity: 1;
  position: relative;
}

@keyframes betogether-in-from-right {
  0% {
    left: 30px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.betogether-slide.off {
  display: none;
}

.betogether-slide img {
  height: auto;
  width: 100%;
}

.betogether-slide p {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), transparent);
  box-sizing: border-box;
  color: white;
  font-family: arial;
  font-size: 1.1rem;
  font-weight: 900;
  left: 10%;
  letter-spacing: 0.2rem;
  padding: 0.4rem 20px;
  position: absolute;
  margin: 0;
  text-align: center;
  bottom: 10px;
  width: 80%;
}

#betogether-progress-bar-container {
  background-color: #999;
  height: 6px;
  margin-top: 2px;
  position: relative;
  width: 100%;
}

#betogether-progress-bar {
  background-color: #111;
  top: 0;
  height: 6px;
  left: 0;
  position: absolute;
  transform-origin: 0 0;
  width: 100%;
}

#betogether-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--bt-controls-container-height);
  width: 100%;
}

.betogether-slide-button {
  background-color: #111;
  border-radius: 50%;
  display: block;
  height: var(--bt-button-size);
  margin-right: var(--bt-button-margin-x);
  position: relative;
  width: var(--bt-button-size);
}

.betogether-slide-button::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: calc(100% - 8px);
  left: calc(50% - 0.5 * (100% - 8px));
  top: calc(50% - 0.5 * (100% - 8px));
  width: calc(100% - 8px);
}

.betogether-slide-button[aria-pressed=true]::before {
  background-color: #000;
}

#betogether-pause-button {
  display: block;
  background-color: #111;
  border-radius: calc(0.18 * var(--bt-button-size));
  height: var(--bt-button-size);
  margin-right: 0;
  position: relative;
  width: var(--bt-button-size);
}

#betogether-pause-button::before,
#betogether-pause-button::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: calc(0.1 * var(--bt-button-size));
  height: calc(100% - 2 * var(--bt-button-border-width));
  top: var(--bt-button-border-width);
  width: calc(50% - 1.5 * var(--bt-button-border-width));
}

#betogether-pause-button::before {
  left: var(--bt-button-border-width);
}

#betogether-pause-button::after {
  right: var(--bt-button-border-width);
}

#betogether-pause-button svg {
  display: none;
  height: calc(100% - 8px);
  left: calc(-6% + var(--bt-button-border-width));
  position: absolute;
  top: var(--bt-button-border-width);
  width: calc(100% - 8px);
}

#betogether-pause-button[aria-pressed=true] svg {
  display: block;
}

#betogether-pause-button[aria-pressed=true]::before,
#betogether-pause-button[aria-pressed=true]::after {
  display: none;
}

@media only screen and (max-width: 768px) {
  #betogether-container {
    --bt-button-size: 30px;
    --bt-button-border-width: 3px;
    --bt-button-margin-x: 14px;
    --bt-button-margin-y: 14px;
  }

  .betogether-slide p {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
  }
}
#betogether-polaroid-container {
  display: none;
}

#betogether-container.polaroid_style {
  --bt-margin-bottom-polaroid: calc(var(--bt-margin-bottom) + 0px + var(--bt-controls-container-height) + 6px + 2px);
  background-color: white;
  height: calc(var(--polaroid-style-width) * 1.2219959267);
  justify-content: center;
  position: relative;
  width: var(--polaroid-style-width);
  overflow: visible;
  margin-bottom: var(--bt-margin-bottom-polaroid);
}
#betogether-container.polaroid_style #betogether-slide-container {
  position: absolute;
  top: 0.1%;
  width: 100%;
}
#betogether-container.polaroid_style .betogether-slide {
  height: calc(0.75 * var(--polaroid-style-width) * 1.2219959267);
  left: calc(0.065 * var(--polaroid-style-width));
  position: absolute;
  top: calc(0.05 * var(--polaroid-style-width) * 1.2219959267);
  width: calc(0.87 * var(--polaroid-style-width));
}
#betogether-container.polaroid_style .betogether-slide::before {
  background-image: url("../img/polaroid.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.05) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(255, 255, 255, 0.05);
  content: "";
  height: 132.5%;
  left: -7%;
  position: absolute;
  top: -6.5%;
  width: 114%;
  z-index: 1;
}
#betogether-container.polaroid_style .betogether-slide img {
  height: auto;
  object-fit: cover;
  object-position: center top;
  width: 100%;
}
#betogether-container.polaroid_style .betogether-slide p {
  background-image: none;
  bottom: -17%;
  color: #111;
  font-size: 0.9rem;
  z-index: 1;
}
#betogether-container.polaroid_style #betogether-polaroid-container {
  height: 100%;
  display: block;
  margin: 0 !important;
  object-fit: cover;
  object-position: 0 0;
  padding: 0 !important;
  position: relative;
  width: 100%;
  z-index: -1;
}
#betogether-container.polaroid_style #betogether-polaroid-container img {
  height: auto;
  opacity: 0;
  width: 100%;
}
#betogether-container.polaroid_style #betogether-progress-bar-container {
  bottom: -8px;
  position: absolute;
  left: 30%;
  width: 40%;
}
#betogether-container.polaroid_style #betogether-controls-container {
  bottom: calc(-1 * (var(--bt-controls-container-height) + 6px + 2px));
  position: absolute;
}
