#betogether-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:40px auto;
}
#betogether-slide-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.betogether-slide {
    display: flex;
    position: relative;
    left: 0;
    opacity: 1;
    animation: betogether-in-from-right .25s ease-out;
}
@keyframes betogether-in-from-right {
    0% {
        left: 30px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.betogether-slide.off {
    display: none;
}
.betogether-slide img {
    height: auto;
    width: 100%;
}
.betogether-slide p {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-family: arial;
    text-transform: uppercase;
    color: white;
    padding: 0.4rem 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75),
        transparent
    );
    position: absolute;
    top: 10%;
    left: 10%;
}
#betogether-controls-container {
    --bt-button-size: 40px;
    --bt-button-y-margin: 20px;
    --bt-button-x-margin: 20px;
    height: calc(var(--bt-button-size) + 2 * var(--bt-button-y-margin));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.betogether-control {
    display: block;
    height: var(--bt-button-size);
    width: var(--bt-button-size);
    border-radius: 50%;
    margin-right: var(--bt-button-x-margin);
    background-color: #111;
    position: relative;
}
.betogether-control: last-of-type {
    margin-right: 0;
}
.betogether-control::before {
    --bt-size: calc(100% - 2 * 4px);
    content: "";
    height: var(--bt-size);
    width: var(--bt-size);
    position: absolute;
    top: calc(50% - .5 * var(--bt-size));
    left: calc(50% - .5 * var(--bt-size));
    background-color: #fff;
    border-radius: 50%;
}
.betogether-control[aria-pressed="true"]::before {
    background-color: #000;
}

@media only screen and (max-width:768px) {
    .betogether-slide p {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }
    #betogether-controls-container {
        --bt-button-size: 30px;
        --bt-button-y-margin: 14px;
        --bt-button-x-margin: 14px;
    }
    .betogether-slide p {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }
}

