$gd-margin-top: 40px;
$gd-margin-bottom: 40px;
$gd-progress-bar-color: #111;
$gd-progress-bar-color-background: #999;
$gd-progress-bar-height: 6px;
$gd-progress-bar-top-margin: 2px;
$gd-button-border-color: #111;
$gd-button-border-width: 4px;
$gd-button-border-width-mobile: 3px;
$gd-button-color: #fff;
$gd-button-color-selected: #000;
$gd-button-inset-size: calc(100% - 2 * $gd-button-border-width);
$gd-button-margin-x: 20px;
$gd-button-margin-x-mobile: 14px;
$gd-button-margin-y: 20px;
$gd-button-margin-y-mobile: 14px;
$gd-button-size: 40px;
$gd-button-size-mobile: 30px;
$gd-message-text-color: #111;
$gd-pause-button-size: calc(100% - 2 * $gd-button-border-width);
$gd-polaroid-height-to-width-ratio: calc(6 / 4.91);
$gd-polaroid-width: var(--polaroid-style-width);
$gd-polaroid-height: calc($gd-polaroid-width * $gd-polaroid-height-to-width-ratio);
$gd-polaroid-border-color1: rgba(255, 255, 255, .05);
$gd-polaroid-border-color2: rgba(0, 0, 0, 0.05);
$gd-polaroid-y-offset: 16.25%;
$gd-polaroid-x-offset: 7%;
$gd-polaroid-background-color: white;
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pseudo1 {
    content: "";
    position: absolute;
}
@mixin pseudo2 {
    @include pseudo1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#getdown-container {
    --gd-button-size: #{$gd-button-size};
    --gd-button-border-width: #{$gd-button-border-width};
    --gd-button-margin-x: #{$gd-button-margin-x};
    --gd-button-margin-y: #{$gd-button-margin-y};
    --gd-controls-container-height: calc(var(--gd-button-size) + 2 * var(--gd-button-margin-y));
    --gd-margin-bottom: calc(#{$gd-margin-bottom} - 7px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: $gd-margin-top auto var(--gd-margin-bottom) auto;
    overflow: hidden;
}
#getdown-slide-container {
    @include flex_center;
    flex-direction: column;
    height: auto;
    position: relative;
    width: 100%;
}
#getdown-container.pause-on-mouseover {
    #getdown-slide-container::before {
        @include pseudo2;
        z-index:2;
    }
}
.getdown-slide {
    animation: getdown-in-from-right .25s ease-out;
    display: flex;
    left: 0;
    opacity: 1;
    position: relative;
}
@keyframes getdown-in-from-right {
    0% {
        left: 30px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.getdown-slide.off {
    display: none;
}
.getdown-slide img {
    height: auto;
    width: 100%;
}
.getdown-slide p {
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75),
        transparent
    );
    box-sizing: border-box;
    color: white;
    font-family: arial;
    font-size: 1.1rem;
    font-weight: 900;
    left: 10%;
    letter-spacing: 0.2rem;
    padding: 0.4rem 20px;
    position: absolute;
    margin: 0;
    text-align: center;
    bottom: 10px;
    width: 80%;
}
#getdown-progress-bar-container {
    background-color: $gd-progress-bar-color-background;
    height: $gd-progress-bar-height;
    margin-top: $gd-progress-bar-top-margin;
    position: relative;
    width: 100%;
}
#getdown-progress-bar {
    background-color: $gd-progress-bar-color;
    top: 0;
    height: $gd-progress-bar-height;
    left: 0;
    position: absolute;
    transform-origin: 0 0;
    width: 100%;
}
#getdown-controls-container {
    @include flex_center;
    height: var(--gd-controls-container-height);
    width: 100%;
}
.getdown-slide-button {
    background-color: $gd-button-border-color;
    border-radius: 50%;
    display: block;
    height: var(--gd-button-size);
    margin-right: var(--gd-button-margin-x);
    position: relative;
    width: var(--gd-button-size);
}
.getdown-slide-button::before {
    @include pseudo1;
    background-color: $gd-button-color;
    border-radius: 50%;
    height: $gd-button-inset-size;
    left: calc(50% - .5 * $gd-button-inset-size);
    top: calc(50% - .5 * $gd-button-inset-size);
    width: $gd-button-inset-size;
}
.getdown-slide-button[aria-pressed="true"]::before {
    background-color: $gd-button-color-selected;
}
#getdown-pause-button {
    display: block;
    background-color: $gd-button-border-color;
    border-radius: calc(.18 * var(--gd-button-size));
    height: var(--gd-button-size);
    margin-right: 0;
    position: relative;
    width: var(--gd-button-size);
}
#getdown-pause-button::before,
#getdown-pause-button::after {
    @include pseudo1;
    background-color: $gd-button-color;
    border-radius: calc(0.1 * var(--gd-button-size));
    height: calc(100% - 2 * var(--gd-button-border-width));
    top: var(--gd-button-border-width);
    width: calc(50% - 1.5 * var(--gd-button-border-width));
}
#getdown-pause-button::before {
    left: var(--gd-button-border-width);
}
#getdown-pause-button::after {
    right: var(--gd-button-border-width);
}
#getdown-pause-button svg {
    display: none;
    height: $gd-pause-button-size;
    left: calc(-6% + var(--gd-button-border-width));
    position: absolute;
    top: var(--gd-button-border-width);
    width: $gd-pause-button-size;
}
#getdown-pause-button[aria-pressed="true"] svg {
    display: block;
}
#getdown-pause-button[aria-pressed="true"]::before,
#getdown-pause-button[aria-pressed="true"]::after {
    display:none;
}
@media only screen and (max-width:768px) {
    #getdown-container {
        --gd-button-size: #{$gd-button-size-mobile};
        --gd-button-border-width: #{$gd-button-border-width-mobile};
        --gd-button-margin-x: #{$gd-button-margin-x-mobile};
        --gd-button-margin-y: #{$gd-button-margin-y-mobile};
    }
    .getdown-slide p {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }
}
#getdown-polaroid-container {
    display: none;
}
#getdown-container.polaroid_style {
    --gd-margin-bottom-polaroid: calc(var(--gd-margin-bottom) + 0px + var(--gd-controls-container-height) + #{$gd-progress-bar-height} + #{$gd-progress-bar-top-margin});
    background-color: $gd-polaroid-background-color;
    height: $gd-polaroid-height;
    justify-content: center;
    position: relative;
    width: $gd-polaroid-width;
    overflow: visible;
    margin-bottom: var(--gd-margin-bottom-polaroid);
    #getdown-slide-container {
        position:absolute;
        top: 0.1%;
        width:100%;
    }
    .getdown-slide {
        height: calc(0.75 * $gd-polaroid-height);
        left: calc(0.065 * $gd-polaroid-width);
        position: absolute;
        top: calc(0.05 * $gd-polaroid-height);
        width: calc((1 - ( 2 * 0.065 )) * $gd-polaroid-width);
    }
    .getdown-slide::before {
        background-image: url("../img/polaroid.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 1px solid $gd-polaroid-border-color1;
        border-color: $gd-polaroid-border-color1 $gd-polaroid-border-color2 $gd-polaroid-border-color2 $gd-polaroid-border-color1;
        content: "";
        height: calc(100% + 2 * $gd-polaroid-y-offset);
        left: calc(-1 * $gd-polaroid-x-offset);
        position: absolute;
        top: -6.5%;
        width: calc(100% + 2 * $gd-polaroid-x-offset);
        z-index: 1;
    }
    .getdown-slide img {
        height: auto;
        object-fit: cover;
        object-position: center top;
        width: 100%;
    }
    .getdown-slide p {
        background-image: none;
        bottom: -17%;
        color: $gd-message-text-color;
        font-size: 0.9rem;
        z-index: 1;
    }
    #getdown-polaroid-container {
        height: 100%;
        display: block;
        margin: 0!important;
        object-fit: cover;
        object-position: 0 0;
        padding: 0!important;
        position: relative;
        width: 100%;
        z-index: -1;
    }
    #getdown-polaroid-container img {
        height: auto;
        opacity: 0;
        width: 100%;
    }
    #getdown-progress-bar-container {
        bottom: -8px;
        position: absolute;
        left: 30%;
        width: 40%;
    }
    #getdown-controls-container {
        bottom: calc(-1 * (var(--gd-controls-container-height) + #{$gd-progress-bar-height} + #{$gd-progress-bar-top-margin}));
        position: absolute;
    }
}